:root {
  --primary-color: #8ebbc0;
}

body {
  font-family: "Poppins", serif;
}

nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  transition: all 150ms ease-in-out;
}

nav a:hover {
  color: var(--primary-color);
}

nav .logo {
  max-height: 40px;
  transition: all 150ms ease-in-out;
}

nav .logo:hover {
  transform: scale(1.1);
}

.video-container {
  position: relative;

  overflow: hidden;
}
video {
  max-width: 100%;
  max-height: 100%;
}

.heading-overlay {
  position: absolute;
  top: 10px;
  bottom: 3px;
  left: 20px;
  color: white;
  font-size: 96px;

  padding: 10px;
  line-height: 1;
}

.paragraph-overlay {
  position: absolute;
  bottom: 5px;
  right: 30px;
  color: white;
  opacity: 0.8;
  font-size: 20px;
  font-weight: 300;

  padding: 10px;
  line-height: 1;
}

.h1-thin {
  font-weight: 200;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  opacity: 0.6;
  font-size: 16px;
}

.page-introduction {
  margin: 40px 30px;
}

.primary-btn-style {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  padding: 15px 20px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

.primary-btn-style:hover {
  background: var(--primary-color);
  color: white;
  padding: 15px 20px;
  font-weight: 600;
}

.secondary-btn-style {
  border: 4px solid white;
  color: var(--primary-color);
  padding: 15px 20px;
  font-weight: 600;
  transition: all 200ms ease-in-out;
}

.secondary-btn-style:hover {
  background: var(--primary-color);
  color: white;
  padding: 15px 20px;
  font-weight: 600;
}

.home-bled-text {
  padding: 70px 30px;
}

.ai-link-container {
  margin: 60px 30px;
  background: #d5eaed;
  padding: 30px 120px;
  border-radius: 10px;
}

footer small {
  opacity: 0.6;
}

footer .social-links a {
  margin: 0 20px;
  color: white;
  background: var(--primary-color);
  padding: 10px 15px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}

footer .social-links a:hover {
  color: var(--primary-color);
  background: white;
}

footer small a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

footer small a:hover {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

@media (max-width: 600px) {
  .heading-overlay {
    font-size: 30px;
  }
  .paragraph-overlay {
    font-size: 13px;
  }
  nav li {
    font-size: 12px;
  }

  h2 {
    font-size: 25px;
  }
  p {
    font-size: 13px;
  }

  h3 {
    font-size: 20px;
  }
}
