.video-container {
  position: relative;

  overflow: hidden;
}
video {
  max-width: 100%;
  max-height: 100%;
}

.text-overlay {
  position: absolute;
  bottom: 70px;
  left: 20px;
  color: white;
  font-size: 24px;

  padding: 10px;
}
